# Core functionality - changes here should be rare!
/src/app.py                   @The0eau
/src/backend/database.py      @The0eau
/src/backend/routers/auth.py  @The0eau

# The frontend will need refactored soon to be more object oriented.
/src/static/   @The0eau
